@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Manrope:wght@200;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: url('../../../assets/beach-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.nav {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 50px;
    background-color: #212786;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    font-family: 'Cedarville Cursive';
    font-size: 25px;
}

.nav-button{
    width: fit-content;
    height: 100%;
    display: flex;
    transition: background-color 0.2s ease, color 0.2s ease;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2px 10px;
}
.nav-button:hover{
    cursor: pointer;
    background-color: #e2e4ff;
    color: black;
}

.login-container{
    width: 30%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 25px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    width: 50%;
    margin-top: 50px;
}

.login-button{
    margin: 25px;
}