<h2>Liste des réservations du client</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Remarque</th>
      <th>Statut</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.id }}</td>
      <td>{{ reservation.dateDebut }}</td>
      <td>{{ reservation.dateFin }}</td>
      <td>{{ reservation.remarque }}</td>
      <td>
        {{ reservation.statut }}
        <span *ngIf="reservation.statut === 'Confirmed'">
          <i class="bi bi-check-circle-fill text-success"></i> <!-- Icône de confirmation -->
        </span>
        <span *ngIf="reservation.statut === 'NonConfirmed'">
          <i class="bi bi-x-circle-fill text-danger"></i> <!-- Icône de non-confirmation -->
        </span>
      </td>
      
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" [routerLink]="['/AddRservation']">Ajouter une réservation</button>
