<div class="test">


<div class="nav-container">
  <div class="brand">
    <a>PLAGE++</a>
  </div>
  <nav>
    <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
    <ul class="nav-list">
      <li>
        <a href="#!">Se Deconnecter</a>
      </li>
      <li>
        <a >FeedBacks</a>
      <li>
        <a >Contact</a>
      </li>
    </ul>
  </nav>
</div>

    
   
  <div class="main">
  
    <div class="container">

      <div class="middle">

        <div class="parasols">
          <h2>Les Parasols : </h2>
          <div class="ligne">
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol reserve"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol reserve"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
              <div class="parasol libre"></div>
          </div>
          <div class="ligne">
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol reserve"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol libre"></div>
            <div class="parasol reserve"></div>
        </div>
        <div class="ligne">
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol reserve"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
          <div class="parasol libre"></div>
      </div>
      <div class="ligne">
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
        <div class="parasol libre"></div>
    </div>
    <div class="ligne">
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
      <div class="parasol libre"></div>
  </div>
  <div class="ligne">
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
    <div class="parasol libre"></div>
</div>
<div class="ligne">
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
</div>
<div class="ligne">
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol reserve"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
  <div class="parasol libre"></div>
</div>
<button type="button" class="btn btn-success"><a href="reservation">Reserver</a></button>
          <!-- Ajoutez d'autres lignes de parasols si nécessaire -->
          <!-- Exemple : -->
          <!-- <div class="ligne">...</div> -->
      </div>
      </div>
    </div>
  </div>
  
  